.mx-2 {
    overflow: hidden;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: relative;
    text-align: center;
    margin: 0 15px;
    background: #262F38;
    font-size: 18pt;
}

.mx-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
